<% if @po.errors.any? %>
      <ul>
        <% @po.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
<% end %>

<div class="form-group">
  <%= f.collection_check_boxes(:cat_ids, Cat.all, :id, :name) %>
</div>

<div class="form-group">
  <%= f.file_field :logo %>

  <% if @po.logo.exitsts? %>
    <%= check_box_tag "remove_logo", "1" %> Remove Logo
  <% end %>
</div>

<div class="form-group">
  <%= f.label :title, "Title" %>
  <%= f.text_field :title, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :article, "Article" %>
  <%= f.text_field :article, :class => "form-control" %>
</div>
