<% if @po.errors.any? %>
      <ul>
        <% @po.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
<% end %>

<div class="form-group">

  <%#= f.select :cat_ids, Cat.all.map{|x| [x.name, x.id]}, {}, :class => "form-control", :prompt => "Please select" %>

  <%= f.collection_select :cat_ids, Cat.all, :id, :name, {}, :class => "form-control", :prompt => "Please select" %>

</div>

<div class="form-group">
  <%= f.label :start_on, "開始日期" %>

  <%= f.text_field :start_on, :required => true, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.file_field :logo %>

  <% if @po.logo.exists? %>
    <%= check_box_tag "remove_logo", "1" %> Remove Logo
  <% end %>
</div>

<div class="form-group">
  <%= f.label :title, "Title" %>
  <%= f.text_field :title, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :article, "Article" %>
  <%= f.text_area :article, :class => "form-control" %>
</div>

<script>
  $( "#po_cat_ids" ).select2({
    theme: "bootstrap"
});

  $("#po_start_on").datepicker({
    format: "yyyy/mm/dd"
  });
</script>

