<div class="page-header">
  <h1 class="text-center">H.H.Forum</h1>
</div>

<h2>Post List</h2>
<%= link_to "sort by default", pos_path(:order => "id"), :class => "btn btn-info" %>
<%= link_to "sort by reply time", pos_path(:order => "updated_at"), :class => "btn btn-primary" %>
<%#= sort_link(@q, :id) %>
<%= link_to "sort by comments count", pos_path(:order => "comments_count"), :class => "btn btn-warning" %>

<br/>

<table class="table table-striped table-border">
<!-- 文章分類 -->
  <% @cats.each do |c| %>
    <%= link_to c.name, pos_path(:cat_id => c), :class => "btn btn-default" %>
  <%end%>

  <thead class="thead">
    <%= paginate @pos %>
    <tr>
      <th>Topic </th>
      <th>User</th>
      <th>Po Created Time</th>
      <th>Latest Comment Time</th>
      <th>Comments Count</th>
    </tr>
  </thead>
  <tbody id="pos-list">
  <!-- 文章 -->
    <% @pos.each do |p| %>
      <%= render :partial => "po", :locals => { :p => p } %>
    <%end%>
  </tbody>
</table>

<h2>wanna post?</h2>
<%= form_for @po, :remote => true do |f| %>
<%= render :partial => "form", :locals => {:f => f} %>
<%= f.submit "save", :remote => true, :class => "btn btn-primary" %>
<%end%>

<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aspotify%3Aplaylist%3A6t1B1gR6GWFZSPqL3JvwYp" width="300" height="380" frameborder="0" allowtransparency="true" class="center-block"></iframe>
