<div class="page-header">
  <h1 class="text-center">H.H.Forum</h1>
</div>

<div class="head">
  <h2 class="po_list">Post List</h2>
  <%= image_tag("what.png") %>
  <br/>
  <!-- ---------------排序----------------- -->
  <%= link_to "sort by default", pos_path(:order => "id"), :class => "btn btn-info" %>
  <%= link_to "sort by reply time", pos_path(:order => "updated_at"), :class => "btn btn-primary" %>
  <%= link_to "sort by comments count", pos_path(:order => "comments_count"), :class => "btn btn-warning" %>
  <!-- ---------------文章分類----------------- -->
<% @cats.each do |c| %>
    <%= link_to c.name, pos_path(:cat_id => c, :page => params[:page]), :class => "btn btn-default" %>
  <%end%>
</div>
<!-- ---------------文章顯示table thead----------------- -->
<table class="table table-border" id="table">

  <thead class="thead">
    <%= paginate @pos %>
    <tr>
      <th>Topic </th>
      <th>User</th>
      <th>Po Created Time</th>
      <th>Latest Comment Time</th>
      <th>Comments Count</th>
    </tr>
  </thead>
<!-- ---------------文章顯示table tbody----------------- -->
  <tbody id="pos-list">
  <!-- 文章 -->
    <% @pos.each do |p| %>
      <%= render :partial => "po", :locals => { :p => p } %>
    <%end%>
  </tbody>

</table>
<!-- ---------------文章新增＆修改----------------- -->
<h2>wanna post?</h2>
<%= form_for @po, :remote => true do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <%= f.submit "save", :class => "btn btn-warning" %>
<%end%>
