<div id="profile">
  <h1 class="text-center">My Profile</h1>

  <h3>About Me</h3>
  <%= form_for [@user, @profile] do |f| %>
    <div class="form-group">
      <%= f.text_area :about, :class => "about" %>
    </div>
    <div class="form-group">
      <%= f.file_field :pic %>

      <% if @profile.pic.exists? %>
        <%= check_box_tag "remove_pic", "1" %> Remove pic
      <% end %>
    </div>
    <%= f.submit 'save', :class => "btn text-left" %>
  <% end %>

</div>
