<!-- ------------------自己的-------------------- -->
<div id="profile">
  <h1 class="text-center">Bonjour <%= @user.short_name%>!</h1>

  <% if @profile.pic.exists? %>
    <%= image_tag(@profile.pic.url(:medium))%>
  <% else %>
    you can upload picture
  <% end %>

  <h3>
    <% if @profile.about %>
      About Me:
      <p class="about-text"><%= @profile.about %></p>
    <% else %>
      About Me:
      <%= form_for [@user, @profile] do |f| %>
        <div class="form-group">
          <%= f.text_area :about, :class => "about" %>
          <%= f.submit 'save', :class => "btn text-left" %>
        </div>
      <% end %>
    <% end %>
  </h3>
  <h3>我好棒棒了哪些文章：</h3>
  <% user_like = Po.where(:id => @likes.pluck(:po_id)) %>
  <ul>
    <% user_like.each do |u| %>
      <li><%= u.title %></li>
    <% end %>
  </ul>
  <%= link_to 'Edit Your Profile', edit_user_profile_path(current_user, :id) %>
</div>



